<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'test_app/style.css' %}">
    <script src="{% static 'test_app/js/main.js' %}"></script>

</head>
<body>

<div>
    <a href="/test_app/books/">Books</a>
    <a href="/test_app/authors/">Authors</a>
    <a href="/test_app/category/">Category</a>
</div>

{% block content %}
{% endblock %}
</body>
</html>